.fancyTextField {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-style: hidden hidden solid hidden;
    -fx-padding: 10;
    -fx-text-fill: grey;
    -fx-font-size: 15;
    -fx-font-family: "Berlin Sans FB";
}

.list-view:focused.list-cell:selected{
    -fx-background-color: pink;
}

.list-view.list-cell{
    -fx-background-color: #243142;
    -fx-text-fill: white;
}

.fancyButton{
    -fx-background-color:  #2a9482;
    -fx-background-radius:  15px;
}